<template>
  <canvas :id="identifier" :style="stilo"></canvas>
</template>

<script>
import Chart from "chart.js";

export default {
  name: "QChart",
  props: ["identifier", "stilo", "type", "labels", "datasets", "options"],
  data() {
    return {};
  },
  mounted() {
    let ctx = document.getElementById(this.identifier);
    new Chart(ctx, {
      type: this.type,
      data: {
        labels: this.labels,
        datasets: this.datasets
      },
      options: this.options
    });
  },
  watch:{
    datasets:{
      handler(){
        alert()
        let ctx = document.getElementById(this.identifier);
        new Chart(ctx, {
          type: this.type,
          data: {
            labels: this.labels,
            datasets: this.datasets
          },
          options: this.options
        });
      },
      deep:true
    },
    options:{
      handler(){
        let ctx = document.getElementById(this.identifier);
        new Chart(ctx, {
          type: this.type,
          data: {
            labels: this.labels,
            datasets: this.datasets
          },
          options: this.options
        });
      },
      deep:true
    },
    type:{
      handler(){
        let ctx = document.getElementById(this.identifier);
        new Chart(ctx, {
          type: this.type,
          data: {
            labels: this.labels,
            datasets: this.datasets
          },
          options: this.options
        });
      },
      deep:true
    },
    labels:{
      handler(){
        let ctx = document.getElementById(this.identifier);
        new Chart(ctx, {
          type: this.type,
          data: {
            labels: this.labels,
            datasets: this.datasets
          },
          options: this.options
        });
      },
      deep:true
    }
  }
};
</script>
